<% title @title %>

<address>
  <p>Homepage: <%= @exhibitor.website %></p>
  <p>Email:    <%= @exhibitor.email %></p>
  <p>Tel No:   <%= @exhibitor.tel_no %></p>
  <p>Address: <br />
  <%= @exhibitor.address1 %><br />
  <%= @exhibitor.address2 %><br />
  <%= @exhibitor.city %><br />
  <%= @exhibitor.county %><br />
  <%= @exhibitor.postcode %></p>
</address>

<p class="description"><%= @exhibitor.description %></p>

<p>
<% if signed_in? %>
  <%= link_to "Edit", edit_exhibitor_path(@event) %> |
  <%= link_to "Destroy", @exhibitor, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
  <%= link_to "View All", exhibitors_path %>
</p>

