<% title "Event" %>

<h2><%= @event.title %></h2>
<p>
  <strong>Event description:</strong>
  <%= raw(@event.description) %>
</p>
<p>
  <strong>Dates:</strong>
  <%= @event.startdate.strftime '%d/%m/%Y' %> - <%= @event.enddate.strftime '%d/%m/%Y' %>
</p>
<p>
  <strong>Related Sites:</strong>
  <%= link_to @event.url_link, @event.url_link %>
</p>
<p>
  <strong>Category:</strong>
  <%= Category.find(@event.category_id).name %>
</p>

	
<% if signed_in? %>
<p>
  <%= link_to "Edit", edit_event_path(@event) %> |
  <%= link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", events_path %>
</p>
<% end %>