<%= form_for @page do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :page_type %><br />
    <%= f.text_field :page_type %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.cktext_area :body, :toolbar=>"Full" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
