<% title "Page" %>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>
<p>
  <strong>Page Type:</strong>
  <%= @page.page_type %>
</p>
<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
