<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag "nav" %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
		<%= yield(:head) %>
	</head>
	<body>
		<div id="container">
			<header class="body" id="banner">
				<%= image_tag("InspirationalGatheringsLogo150.png", :alt => "Inspirational Gatherings") %>
				<%= image_tag("insp logotext.png", :alt => "Inspirational Gatherings") %>
				<%= render "layouts/nav"%>
			</header><!-- /#banner -->
			<section class="body" id="content">
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
				<%= content_tag :h1, yield(:title) if show_title? %>
				<%= yield %>
			</section>
			<section id="extras" class="body">
				<section id="event-calendar">
					<h2>Events</h2>
				</section>
				<%= image_tag("Inspirational Retreat Image.jpg", :alt => "Inspirational Retreat Image") %>
				<div class="social">
					<h2>social</h2>
					<ul>
						<li><a href="http://delicious.com/enrique_ramirez" rel="me">delicious</a></li>
						<li><a href="http://www.facebook.com/pages/Inspirational-Gatherings/136767873034010" rel="me">facebook</a></li>
						<li><a href="http://www.lastfm.es/user/enrique-ramirez" rel="me">last.fm</a></li>
						<li><a href="http://afestivalorganisers.blogspot.com/feeds/posts/default" rel="alternate">rss</a></li>
						<li><a href="http://twitter.com/enrique_ramirez" rel="me">twitter</a></li>				
						<li><a href="http://uk.linkedin.com/in/inspirationalgatherings" rel="me">linkedin</a></li>
					</ul>
				</div><!-- /.social -->
			</section>
			<footer id="contentinfo" class="body">
				<address id="about" class="vcard body">
					<span class="primary">
						<strong><%= link_to "Inspirational Gatherings", '/', :class => 'fn url' %></strong>
						<span class="role">Amazing Events</span>
					</span><!-- /.primary -->
					<%= image_tag("InspirationalGatheringsLogo150.png", :alt => "Inspirational Gatherings Logo", :class => "photo") %>
					<span class="bio">Inspirational Gatherings are a company that create spaces where you can dream, explore and discover your potential...... It was founded by Ellen Wray and Lisa Vickerage.</span>
				</address><!-- /#about -->
				<div id="admin-nav">
					<% if signed_in? %>
						<%= link_to "Sign out", signout_path, :method => :destroy %>
					<% else %>
						<%= link_to "Sign in", signin_path %>
					<% end %>
				</div>
				<p>2010 <%= link_to "Inspirational Gatherings", '/' %>.</p>
			</footer><!-- /#contentinfo -->
		</div>
	</body>
</html>
