<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => 'layouts/htmlhead' %>

	</head>
	<body>
		<header class="body" id="banner">
			<%= image_tag("InspirationalGatheringsLogo150.png", :alt => "Inspirational Gatherings") %>
			<%= image_tag("insplogotext.png", :alt => "Inspirational Gatherings") %>
			<%= render "layouts/nav"%>
		</header><!-- /#banner -->
		<section class="body" id="content">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			<%= content_tag :h1, yield(:title) if show_title? %>
			<%= yield %>
		</section>
		<%= render 'layouts/extras' %>
		<%= render 'layouts/footer' %>
	</body>
</html>
